// THIS IS ONLY FOR STYLINGS THAT ARE VERY DIFFICULT TO OVERRIDE ON MUI
// USE SPARINGLY

$link-color: #01B5AF;

a {
    color: $link-color;
    text-decoration: none;
    background-color: transparent;

    &:hover,
    &:focus {
        color: darken($link-color, 5%);
        text-decoration: none;
    }
}